.cvPDF{
    display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

#myPDF{
    width:60%;
    height: 100%;
    margin-top: 80px;

}

@media screen and (max-width: 768px) {
    #myPDF{
        width:90%;
        margin-top: 30px;
    }
    .cvPDF{
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100vh;
    }
}    