.memoji-image {
  height: 220px;
  border-radius: 100%;
  border: solid 2px #716969;
  filter: brightness(120%);

}
.main-wrapper {
  margin-top: 10px;
  padding: 11% 0px;
}

@media screen and (max-width: 800px) {
  .main-wrapper {
    place-content: center;
    margin: 0px;
    padding: 0px;
  }

  .memoji-image {
    margin-bottom: 5px;
    filter: brightness(120%);
    height: 170px;
  }
}
