.typing-header {
  overflow: hidden;
  border-right: 0.05em solid black;
  font-size: 50px;
  white-space: nowrap;
  margin: 0 auto;
  letter-spacing: 0.15em;
  animation: typing 5s steps(40, end), blink-caret 0.75s step-end infinite;
  color: #716969;
}

.home-container {
  display: grid;
  grid-template-columns: 30% 70%;
  grid-gap: 20px;
  margin: 0px 30px 5px;
  padding: 0px 15%;
}
.container-2 {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 20px;
  margin: 0px 20px;
}
.home-bio {
  font-size: 18px;
  margin-top: 10px;
}
.main-wrapper {
  display: grid;
  margin: 30px 0px;
  border: 1px black;
  place-content: end;
}

.self-image-home {
  height: 300px;
  border-radius: 20%;
  margin-top: 10px;
  background-color: transparent;
}

.progress-1,
.progress-2,
.progress-3,
.progress-4 {
  background: #716969;
  border-radius: 0.2rem;
  text-align: center;
  margin: 20px 0px 10px;
  font-size: 13px;
  color: white;
  font-weight: bold;
  border: solid 1px #BCABAE;
}
.line {
  border: solid 0.3px #BCABAE;
  margin-bottom: 20px;
}

.wrapper {
  border-radius: 50px;
  margin: 0px 20px;
}

.barContainer {
  background-color: white;
  border-radius: 50px;
  margin-bottom: 20px;
  border: solid 2px #BCABAE;
}

.barCompleted1 {
  background-color: #BCABAE;
  width: 85%;
  border-radius: 50px;
}
.barCompleted2 {
  background-color: #BCABAE;
  width: 90%;
  border-radius: 50px;
}
.barCompleted3 {
  background-color: #BCABAE;
  width: 85%;
  border-radius: 50px;
}
.barCompleted4 {
  background-color: #BCABAE;
  width: 5%;
  border-radius: 50px;
}

.label {
  font-size: 0px;
}

.skills-container{
  padding: 2.5% 5.25%;
  display: flex; 
  flex-wrap: wrap;
  justify-content: center;
}
.skills{
  border: solid 1px #716969;
  margin: 0.5%;
  padding: 1%;
  width: 120px;
  text-align: center;
  font-weight: bold;
  background-color: #716969;
  color: white;
  border-radius: 0.2rem;
  font-size: 15px;
}
.skills:hover{
  background-color: #8f8585;
  border: solid 1px #8f8585;
  cursor:default;
}

@keyframes typing {
  from {
    width: 0;
  }
  to {
    width: 90%;
  }
}

@keyframes blink-caret {
  from,
  to {
    border-color: transparent;
  }
  60% {
    border-color: black;
  }
}
@media (max-width: 1032px) {
.home-container{
padding: 0 5%;
}
}

@media (max-width: 790px){
  .skills-container{
    padding: 2% 1.5%;
  }
  .skills{
    width: 90px;
    font-size: 13px;
  }
}

@media (max-width: 500px) {
  .typing-header {
    font-size: 18px;
    max-width: 90%;
    white-space: nowrap;
    animation: typing 5.5s steps(300, end), blink-caret 0.75s step-end infinite;
  }

  .home-container {
    display: block;
    margin: 10px 20px;
    padding: 0;
  }
  .container-2 {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 10px;
    width: 90%;
    padding: 0;
    margin: 0 20px;
  }


  .home-bio {
    font-size: 16px;
    margin-top: 10px;
  }

  .main-wrapper {
    margin: 20px 0;
    border: 1px solid none;
    place-content: center;
  }

  .self-image-home {
    max-width: 95%;
    height: auto;
    border-radius: 50%;
    margin-top: 10px;
  }

  .progress-1,
  .progress-2,
  .progress-3,
  .progress-4 {
    text-align: center;
    font-size: 14px;
    padding: 3px 0px;
    /* margin: 10px 0px; */
  }

  .wrapper {
    border-radius: 50px;
    margin: 10px 20px;
  }

  .barContainer {
    border-radius: 50px;
  }

  .barCompleted1,
  .barCompleted2,
  .barCompleted3,
  .barCompleted4 {
    border-radius: 50px;
  }

  .label {
    font-size: 0px;
  }
  .skills-container{
    padding: 1% 1%;
  }
  .skills{
    width: 120px;
    font-size: 15px;
  }

}
