/* .main-wrapper-inside img{
    width: 200px;
    height:200px;
    position: relative;
    z-index: -1;
}

.button{
    border-radius: 50%;
    width:58px;
    height:58px;
    background-color: #0079a4;
    position: absolute;
    bottom: 0;
    right:0;
    z-index: 6;
    display: flex;
    align-items:center;
    justify-content: center;
    cursor: pointer;
    transition: all 500ms cubic-bezier(0.19, 1, 0.22, 1);
    box-shadow: -1px 2px 12px rgba(0, 0, 0, 0.4);
    will-change: transform;
} */

.memoji-image{
    height: 250px;
    border-radius: 100%;
    padding: 20px 10px 0px 10px;
    border: solid 2px #EBEAEB;
}
.main-wrapper{
    margin-top: 10px;
    padding: 11% 0px;
}

@media screen and (max-width: 800px) {
    .main-wrapper {
        place-content: center;
        margin: 0px;
        padding: 0px;
    }
}