.card-container {
  text-align: center;
}
.card-card {
  margin: 40px 20%;
  background: #ebeaeb;
  border: none;
  border-radius: 10px;
  padding: 25px;
  font: inherit;
  cursor: pointer;
  outline: inherit;
  display: grid;
  justify-content: center;
  justify-items: center;
  text-decoration: none;
  color: black;
}

.project-type, .project-language, .project-github {
  font-size: 16px;
  margin: 4px;

}
.project-bio{
  font-size: 16px;
  margin: 4px 30px;  
}
.project-name {
  font-size: 25px;
  margin: 15px 0px;
}

.project-github{
  margin-bottom: 10px;
  margin: 0px 30px;
}

@media (max-width: 768px) {
  .card-container {
    text-align: center;
    margin: 40px 0px;
  }

  .card-card {
    margin: 10px;
    padding: 15px;
    height: auto;
  }

  .project-name {
    font-size: 20px;
  }

  .project-language,
  .project-type {
    font-size: 16px;
  }

  .project-details {
    padding-bottom: 20px;
  }

  .project-video {
    width: 100%;
    height: auto;
  }
}
