.Background {
  background-color: #c3c1c3;
}

.App-logo {
  height: 200px;
  width: 200px;
  background: transparent;
  border-radius: 150px;
  margin-right: 20px;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 12s linear;
  }
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
